* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", "Tahoma", sans-serif;
    font-weight: 500;
    color: #354657;
}

.wrapper {
    max-width: 1310px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: #F4EFFA;
}

.header__logo {
    padding: 10px 0;
    margin-right: 10px;
}

.header__text {
    align-items: center;
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.header__text-ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    margin: 0;
}

.header__text-ul li {
    padding: 0 0 0 50px;
    font-weight: 700;
    font-size: 16px;
    color: #354657;
}

.header__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__icons img {
    padding-left: 34px;
}

.header__bread-crumbs {
    display: flex;
    text-align: center;
}

.header__bread-crumbs p {
    font-family: inherit;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 0;
}

.header__bread-crumbs img {
    margin: 16px 10px 10px 10px;
    padding-top: 1px;
}

.main__title {
    color: #354657;
    border-bottom: 1px solid #E2E2E2;
    padding: 70px 0 20px 0;
}

.main__contact {
    background-color: #F0F2F5;
    padding: 45px 23px;
    margin-top: 1px;
}

.main__contact-adress {
    display: flex;
    margin-bottom: 35px;
}

.main__contact-title {
    font-weight: 700;
    color: #354657;
    font-size: 20px;
    margin: -5px 0 0 0;
}

.main__contact-text {
    font-weight: 400;
    color: #354657;
    font-size: 16px;
    margin: 0;
    width: 263px;
    line-height: 17px;
}

.main__contact-text-flex {
    margin: 0 0 0 17px;
}

.main__contact-map {
    width: 61px;
    height: 61px;
    border: 2px solid #D6D9DE;
    border-radius: 50%;
}

.main__contact-map img {
    margin: 16px 0 0 15px;
}

.main__contact-tell {
    display: flex;
    margin-bottom: 35px;
}

.main__contact-number {
    text-decoration: none;
    color: #946FD3;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    display: block;
}

.main__contact-mail {
    display: flex;
}

.main__contact-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    background-color: #946FD3;
    color: white;
    width: 338px;
    height: 54px;
    border: none;
    border-radius: 50px;
    margin-top: 44px;
}

.main__map {
    margin-top: 50px;
    margin-bottom: 100px;
}

.main__contact {
    margin-top: 50px;
    margin-bottom: 100px;
}

.main__map iframe {
    width: 874px;
    height: 441px;
    margin-left: 15px;
}

.footer {
    border-top: 1px solid #E2E2E2;
}

.footer__logo {
    padding: 10px 0;
    margin-right: 10px;
}

.footer__text {
    align-items: center;
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.footer__text-ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    margin: 0;
}

.footer__text-ul li {
    padding: 0 0 0 50px;
    font-weight: 700;
    font-size: 16px;
    color: #354657;
}

.footer__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__icons img {
    padding-left: 17px;
}
